<div class="hidden">
    <!-- <div>
        <input type="text" placeholder="Enter name">
    </div> -->
    <!-- <div>
        <input type="email" placeholder="email@example.com">
    </div> -->
    <div>
        <input type="password" placeholder="Enter password">
    </div>
    <!-- <div>
        <input type="number" min="1" max="100">
    </div> -->
    <!-- <div>
        <input type="date">
    </div> -->
    <div>
        <input type="time">
    </div>
    <div>
        <input type="datetime-local">
    </div>
    <!-- <div>
        <input type="submit" value="Submit">
    </div> -->
    <!-- <div>
        <input type="radio" name="gender"> Male
        <input type="radio" name="gender"> Female
    </div> -->
    <!-- <div>
        <input type="checkbox"> I agree
    </div> -->
    <div>
        <input type="file">
    </div>
    <div>
        <input type="search" placeholder="Search...">
    </div>
</div>






<form class="flex flex-col h-full w-full justify-start overflow-hidden">
    <div class="flex-grow w-full p-3 overflow-y-auto">
        <div class="grid grid-cols-12 gap-3">
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">First name</label>
                <input type="text"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
                <span class="text-xs text-red-500 font-medium truncate absolute bottom-0 left-0">Required</span>
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Email address</label>
                <input type="email"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Mobile Number</label>
                <input type="number"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">DOB</label>
                <input type="date"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Country</label>
                <select class="w-full rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-none">
                    <option value="" hidden>Select</option>
                    <option value="aus">Australia</option>
                    <option value="eng">England</option>
                    <option value="ind">India</option>
                    <option value="nz">New Zealand</option>
                    <option value="sa">South Africa</option>
                </select>
            </div>
            <div class="col-span-3 relative pb-5 flex flex-col">
                <label class="text-xs font-medium text-gray-400 mt-1">Extra Address Details</label>
                <div class="flex items-center gap-x-2 flex-grow">
                    <input id="design" type="checkbox"
                        class="relative size-4 appearance-none rounded border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                    <label for="design" class="block text-sm/6 font-medium text-gray-900 text-nowrap">
                        Check If you ready to provide
                    </label>
                </div>
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">State</label>
                <input type="text"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
            </div>
            <div class="col-span-3 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Pin Code</label>
                <input type="number"
                    class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none" />
            </div>
            <div class="col-span-6 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Gender</label>
                <div class="flex items-center gap-10 mt-3">
                    <div class="flex items-center gap-x-3">
                        <input id="male" type="radio"
                            class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="male" class="block text-sm/6 font-medium text-gray-900">Male</label>
                    </div>
                    <div class="flex items-center gap-x-3">
                        <input id="female" type="radio"
                            class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="female" class="block text-sm/6 font-medium text-gray-900">Female</label>
                    </div>
                    <div class="flex items-center gap-x-3">
                        <input id="others" type="radio"
                            class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="others" class="block text-sm/6 font-medium text-gray-900">Others</label>
                    </div>
                </div>
            </div>
            <div class="col-span-6 flex flex-col items-start relative pb-5 row-span-2">
                <label for="about" class="text-xs font-medium text-gray-400">About</label>
                <textarea id="about"
                    class="w-full flex-grow rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-none"></textarea>
            </div>
            <div class="col-span-6 relative pb-5">
                <label class="text-xs font-medium text-gray-400">Role Preference</label>
                <div class="flex items-center gap-10 mt-3">
                    <div class="flex items-center gap-x-2">
                        <input id="design" type="checkbox"
                            class="relative size-4 appearance-none rounded border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="design" class="block text-sm/6 font-medium text-gray-900 text-nowrap">
                            Batsman
                        </label>
                    </div>
                    <div class="flex items-center gap-x-2">
                        <input id="frontend" type="checkbox"
                            class="relative size-4 appearance-none rounded border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="frontend" class="block text-sm/6 font-medium text-gray-900 text-nowrap">
                            Bowler
                        </label>
                    </div>
                    <div class="flex items-center gap-x-2">
                        <input id="backend" type="checkbox"
                            class="relative size-4 appearance-none rounded border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="backend" class="block text-sm/6 font-medium text-gray-900 text-nowrap">
                            Captain
                        </label>
                    </div>
                    <div class="flex items-center gap-x-2">
                        <input id="backend" type="checkbox"
                            class="relative size-4 appearance-none rounded border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden" />
                        <label for="backend" class="block text-sm/6 font-medium text-gray-900 text-nowrap">
                            Wicket - Keeper
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-end p-3 border-t">
        <input type="submit" value="Submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white">
    </div>
</form>