<form [formGroup]="mainForm" (ngSubmit)="formSubmission()">
    <input type="text" formControlName="name" placeholder="Name">
    @if(mainForm.get('name')?.touched && mainForm.get('name')?.hasError('required')) {
        <span>Required</span>
    }
    @if(mainForm.get('name')?.hasError('spaceExist')) {
        <span>Space Not Required</span>
    }
    <br>
    <input type="checkbox" formControlName="moreDetails">
    <br>
    @if(mainForm.get('moreDetails')?.value) {
        <div formGroupName="mDtl">
            <input type="email" formControlName="email">
            <br>
            <input type="date" formControlName="dob">
            <br>
        </div>
    }
    <div formArrayName="roles">
        @for(role of rolesArray; track role; let i = $index ) {
            <input type="checkbox" formControlName="{{i}}">{{role.Label}}
            <br>
        }
    </div>
    <button type="submit" class="border border-black">Submit</button>
</form>