<section class="flex flex-col items-start justify-start gap-1 h-full w-full overflow-hidden">
    <div class="flex items-center justify-end w-full">
        <span class="font-mono bg-green-500 text-white px-2 rounded mr-auto">{{receivedDatas().length}}</span>
        <div class="w-64 p-1 bg-white rounded-lg font-mono flex items-center justify-center gap-4">
          <label class="block text-gray-700 text-sm font-bold text-nowrap" for="unique-input">Post ID : </label>
          <input
            class="text-sm custom-input w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm transition duration-300 ease-in-out transform focus:-translate-y-1 focus:outline-blue-300 hover:shadow-lg hover:border-blue-300 bg-gray-100"
            placeholder="Enter Post ID"
            type="text"
            id="unique-input" />
        </div>
    </div>
    <div class="flex-grow overflow-auto relative w-full">
        <table class="w-full table-auto border-collapse text-sm">
            <thead class="sticky top-0 bg-white">
                <tr>
                    <th class="text-nowrap border-b border-gray-200 px-4 py-2 text-center font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                        ID
                    </th>
                    <th class="text-nowrap border-b border-gray-200 px-4 py-2 text-center font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                        POST ID
                    </th>
                    <th class="text-nowrap border-b border-gray-200 px-4 py-2 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                        NAME
                    </th>
                    <th class="text-nowrap border-b border-gray-200 px-4 py-2 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                        EMAIL
                    </th>
                    <th class="text-nowrap border-b border-gray-200 px-4 py-2 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                        BODY
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800">
                @for(data of receivedDatas(); track data) {
                    <tr>
                        <td class="border-b border-gray-100 p-4 text-center text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.id}}</td>
                        <td class="border-b border-gray-100 p-4 text-center text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.postId}}</td>
                        <td class="border-b border-gray-100 p-4 text-left text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.name}}</td>
                        <td class="border-b border-gray-100 p-4 text-left text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.email}}</td>
                        <td class="border-b border-gray-100 p-4 text-left text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.body}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>