<table class="w-full table-auto border-collapse text-sm">
    <thead>
        <tr>
            <th class="text-nowrap border-b border-gray-200 p-4 pt-0 pb-3 pl-8 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                ID
            </th>
            <th class="text-nowrap border-b border-gray-200 p-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                POST ID
            </th>
            <th class="text-nowrap border-b border-gray-200 p-4 pt-0 pr-8 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                NAME
            </th>
            <th class="text-nowrap border-b border-gray-200 p-4 pt-0 pr-8 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                EMAIL
            </th>
            <th class="text-nowrap border-b border-gray-200 p-4 pt-0 pr-8 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-200">
                BODY
            </th>
        </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-800">
        @for(data of receivedDatas; track data) {
            <tr>
                <td class="border-b border-gray-100 p-4 pl-8 text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.id}}</td>
                <td class="border-b border-gray-100 p-4 text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.postId}}</td>
                <td class="border-b border-gray-100 p-4 pr-8 text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.name}}</td>
                <td class="border-b border-gray-100 p-4 pr-8 text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.email}}</td>
                <td class="border-b border-gray-100 p-4 pr-8 text-gray-500 dark:border-gray-700 dark:text-gray-400">{{data.body}}</td>
            </tr>
        }
    </tbody>
</table>